@tailwind base;
@tailwind components;
@tailwind utilities;

.button-card {
    @apply bg-blue-700 p-1.5 m-1 text-gray-50 text-sm rounded-xl;
}

.button-card:focus {
    @apply ring border-blue-300;
}

#board {
    @apply max-w-4xl mt-32 mx-auto px-4;
}

#pick {
    @apply flex justify-between mb-8 px-2;
}

.card-pick-container {
    @apply flex-initial flex flex-col cursor-pointer;
}

.card-pick {
    @apply w-32 h-52 bg-gray-100 border-2 rounded-2xl shadow-md flex;
}

#cards-deck {
    @apply fixed w-full mt-auto bottom-0 h-20;
}

.card {
    @apply absolute shadow-xl w-64 bg-gray-100 border rounded-2xl flex flex-col flex-wrap transform transition-all duration-300;
    min-height: 26.8rem;
}

.card-image {
    @apply flex-none self-center;
}

.card-description {
    @apply my-auto;
}

.card-text-title {
    @apply mt-2 font-semibold text-2xl text-center;
}

.card-text-description {
    @apply text-gray-600 m-1 text-center;
}

.card-moral {
    @apply flex-none max-w-max ml-2 mt-2 mb-1 text-gray-400 leading-none tracking-wide text-center;
}